#search_input {
    width: 40%;

    .ais-search-box--input {
        width: 100%;
    }
}

#main {
    min-height: 600px;

    .hit {
        border-bottom: solid black 1px;
    }
}

#donate_modal, #thanks_modal {
    z-index: 19999;
}

body {
    div.modal-backdrop.fade.in {
        z-index: 19989;
    }
}

